---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="Ceolan's Journey">
    <div class="content flex flex-col gap-4">
        <h1>Ceolan's Journey</h1>
        <span>Genre: 3D Platformer Side Scroller and Music Adventure</span>
        <div class="flex flex-col gap-2">
            <p>
                Gameplay combines traditional platforming elements with innovative music mechanics, requiring players to
                master to solve puzzles and face formidable foes. As players progress, they will uncover the rich
                stories of the land, learn ancient melodies, and gain abilities that reflect the spirits they appease.
            </p>
            <p>
                As the druid, players must strike a balance between agility and artistry, using both platforming skills
                and musical intuition to navigate a world fraught with peril. The ultimate quest is to reclaim the
                spirits' home from the desolation wrought by the Fomorians, restoring peace and harmony through the
                enchanting power of music.
            </p>
            <p>
                Ceolan's Journey promises to be a captivating journey where players connect with history, music, and the
                spirit realm, all while battling the forces of darkness.
            </p>
        </div>
        <div>
            Features:
            <ul>
                <li>
                    Dynamic Music Gameplay: Engage in rhythm-based challenges that influence the environment and spirit
                    interactions.
                </li>
                <li>
                    Rich Lore: Explore a world steeped in Celtic mythology, with captivating stories and breathtaking
                    visuals.
                </li>
                <li>
                    Evolving Abilities: Unlock new tunes and druidic powers by calming spirits, enhancing gameplay and
                    exploration.
                </li>
                <li>
                    Immersive Environments: Traverse diverse landscapes that reflect the beauty and mystique of ancient
                    Celtic culture.
                </li>
            </ul>
        </div>
        <Button href="https://drive.google.com/drive/folders/1_Vn0GN60zvQEypSilsdjp4A8q2CSgvIL?usp=drive_link">
            Press Kit
        </Button>
    </div>
</Layout>
