@import "tailwindcss";

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: #ebede9;
  /* height: 100%; */
}

::selection {
  background-color: #19332d;
  color: #ebede9;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

hr {
  border: none;
  border-top: 2px solid #10141f;
  opacity: 0.5;
  width: 100%;
}

.content {
  min-height: calc(100vh - 15rem);
  margin-inline: 15%;
  flex: 1;
  margin-block: 5rem;
}

.nav-link {
  color: #ebede9;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
}

.nav-link:hover {
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 250ms;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #151d28;
}

.animate-page-entry {
  animation: slideUpFade 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(2rem); /* Slides up from 2rem below */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
