---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CJImage from "../assets/Ceolans_Journey.png";
import Button from "../components/Button.astro";
---

<Layout>
    <div class="content">
        <Card
            bg={CJImage}
            bgalt="Ceolan's Journey Background"
            title="Ceolan's Journey"
            content={(
                <div class="flex flex-col gap-8">
                    <p>
                        In "Ceolan's Journey" players step into the role of a young druid tasked with restoring harmony
                        to a mystical realm steeped in Celtic folklore. The once-peaceful land has been thrown into
                        chaos as the ominous Fomorians, invaders driven by greed and darkness, desecrate the sacred
                        sites that belong to the ancient spirits.
                    </p>
                    <p>
                        Armed with a magical talking flute, players navigate beautifully rendered environments filled
                        with lush forests, towering mountains, and ancient stone circles, each teeming with mythical
                        creatures and lore. Karny the flute serves as a vital tool, allowing the druid to weave
                        enchanting melodies that resonate with the spirits, calming their wrath and unlocking their
                        unique powers.
                    </p>
                    <p>Coming Soon</p>
                </div>
            )}
        />
    </div>
</Layout>
