---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CJImage from "../assets/Ceolans_Journey.png";
import Button from "../components/Button.astro";
---

<Layout>
    <div class="content">
        <Card
            bg={CJImage}
            bgalt="Ceolan's Journey Background"
            title="Ceolan's Journey"
            content={(
                <div class="flex flex-col gap-8">
                    <p>
                        Become a young druid tasked with restoring harmony in Ceolan's Journey, the 1st from studio
                        GrimmTango! This Celtic-inspired side-scrolling fantasy platformer combines traditional
                        platforming mechanics with innovative music mechanics.
                    </p>
                    <p>Coming Soon</p>
                </div>
            )}
        />
    </div>
</Layout>
