---
import { string } from "astro:schema";
import "../styles/global.css";

interface Props {
    label: string;
    href: string;
}

const { label, href } = Astro.props;
---

<a
    class="w-fit rounded-lg bg-[#19332d] px-4 py-2 text-center text-[#ebede9] transition-all duration-250 hover:bg-[#25562e]"
    href={href}
    aria-label={`${label} link`}
>
    {label}
</a>
