---
import "../styles/global.css";
---

<div class="flex h-[10%] w-full justify-center gap-16 bg-[#19332d] px-[15%] py-4 text-white">
    <span> Copyright © 2026 GrimTango </span>
    <a href="mailto:ceolansjourney@gmail.com"> Contact </a>
</div>

<style>
    a {
        border-bottom: 0 transparent solid;
        transition-duration: 250ms;
    }
    a:hover {
        transition-duration: 250ms;
        border-bottom: 1px white solid;
        border-width: 50%;
    }
</style>
